<!DOCTYPE html>
<html>

<head>

    <title>About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        <span class="icon">🏥</span>
        <span class="text">MediCare</span>
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/admin">Admin</a>
        <a href="/view_medicines">View Medicines</a>
    </div>

</div>

<div class="container">

    <h1>About MediCare</h1>

    <p>
        
MediCare is a full-stack healthcare application developed to simplify the
process of finding medicines for common symptoms. The platform features
intelligent symptom-based search, dynamic recommendations, medicine management,
and a responsive user interface, demonstrating practical implementation of
web development and database integration concepts.
    </p>

    <p>
        This project helps users find common medicines
        based on their health problems.
    </p>

    <p style="color:red;">
        ⚠ Educational Purpose Only.
        Always consult a doctor before taking medicines.
    </p>

</div>

<footer>

    <p>
        © 2026 Smart Medicine Recommendation System
    </p>

</footer>

</body>
</html>