<!DOCTYPE html>
<html>

<head>

    <title>Contact</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        <span class="icon">🏥</span>
        <span class="text">MediCare</span>
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/admin">Admin</a>
        <a href="/view_medicines">View Medicines</a>
    </div>

</div>

<div class="container">

    <h1>Contact Us</h1>

    <p>📧 Email: yourname@gmail.com</p>

    <p>📱 Phone: +91 XXXXXXXXXX</p>

    <p>📍 Location: Andhra Pradesh, India</p>

</div>

<footer>

    <p>
        © 2026 Smart Medicine Recommendation System
    </p>

</footer>

</body>
</html>