<!DOCTYPE html>
<html>

<head>

    <title>View Medicines</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Navbar -->

    <div class="navbar">

        <div class="logo">
            <span class="icon">🏥</span>
            <span class="text">MediCare</span>
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/admin">Admin</a>
            <a href="/view_medicines">View Medicines</a>
        </div>

    </div>

    <!-- Main Content -->

    <div class="container">

        <h1>All Medicines</h1>

        <table>

            <tr>
                <th>ID</th>
                <th>Problem</th>
                <th>Medicine</th>
                <th>Action</th>
            </tr>

            {% for medicine in medicines %}

            <tr>
    <td>{{ loop.index }}</td>
    <td>{{ medicine[1] }}</td>
    <td>{{ medicine[2] }}</td>

    <td>
        <a href="/edit/{{ medicine[0] }}">
            <button>Edit</button>
        </a>

        <a href="/delete/{{ medicine[0] }}"
           onclick="return confirm('Are you sure?')">
            <button>Delete</button>
        </a>
    </td>
</tr>

            {% endfor %}

        </table>

    </div>

    <!-- Footer -->

    <footer>

        <p>© 2026 Smart Medicine Recommendation System</p>

    </footer>

</body>

</html>